body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}
textarea:-moz-placeholder {
  color: #999999;
}
textarea::-moz-placeholder {
  color: #999999;
}
textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*Contact-forma njejt sikur login-forma */
.login-header {
  height: 198px;
  background-image: url('/fotot/signup.jpg');
  background-size: cover;
  top: 0;
  width: 100%;
  background-position: center;
  left: 0;
}

.login_paragraf {
  margin-bottom: 1rem;
  color: #343a40;
}

.login-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .17);
}
#login_container {
  margin-bottom: 45px;
}
.login_centeer {
  margin: 0 auto;
  border: 1px solid #dce0e0;
  border-radius: 5px;
}

.login-inputs:focus {
  border: 2px solid #ff8d58 !important;
}

#login_btn {
  background-color: #52d77b !important;
  border-color: #52d77b !important;
}

.text-primary-link {
  color: #ff8d58;
  cursor: pointer;
}

@media (min-width: 992px) {
  /* #login_container {
    margin-top: 9rem;
  } */
}

@media (max-width: 992px) {
  /* #login_container {
    margin-top: 4rem;
  } */
}